<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<BaseUrl>https://www.edgewordstraining.co.uk/demo-site</BaseUrl>
			<Username>lewis.craft@nfocus.co.uk</Username>
			<Password>qwertyuioplmnbvcxzasdfghjkl0987654321</Password>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>